body {
    margin: 0;
    font-family: $font-stack !important;
    font-size: 12px;
    background: $background-color;
    color: $text-color;
}

.left {
    float: left;
}

.right {
    float: right;
}

.mw {
    &1440 {
        width: 100%;
        margin: 0 auto;
    }
}

.mw1440 {
    max-width: 1440px;
}

@each $x in $padding-margin-list {
    @each $y in $padding-margin-list {
        @include p($x, $y);
        @include m($x, $y);
    }
}