/** BRAND COLOR */

$brand-color: #EB7180;
$brand-color-dark: #BC5A66;
$brand-color-light: #F2A4AD;
$brand-color-text: #F5F5F5;

/** REGULAR COLOR & FONT */

$background-color: #F5F5F5;
$text-color: #212121;
$font-stack: 'Roboto', sans-serif;

/** FONT SIZE */

$title: 20px;
$title-lg: 40px;
$title-xl: 56px;
$content: 12px;
$content-lg: 16px;
$content-xl: 20px;

/** RESPONSIVE TRIGGER */

$sm-trigger: 768px;
$md-trigger: 992px;
$lg-trigger: 1200px;
$xl-trigger: 1600px;
@mixin mobile {
    @media (max-width: #{$sm-trigger - 1px}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$sm-trigger}) and (max-width: #{$md-trigger - 1px}) {
        @content;
    }
}
@mixin pc-md {
    @media (min-width: #{$md-trigger}) and (max-width: #{$lg-trigger - 1px}) {
        @content;
    }
}
@mixin pc-lg {
    @media (min-width: #{$lg-trigger}) and (max-width: #{$xl-trigger - 1px}) {
        @content;
    }
}
@mixin pc-xl {
    @media (min-width: #{$xl-trigger}) {
        @content;
    }
}
@mixin not-mobile {
    @media (min-width: #{$sm-trigger}) {
        @content;
    }
}

/** PADDING - MARGIN */
$padding-margin-list: 0 4 8 16 32 48 64;
@mixin p($x, $y) {
    .p#{$x}_#{$y} {
        padding: #{$x}px #{$y}px;
        box-sizing: border-box;
    }
}
@mixin m($x, $y) {
    .m#{$x}_#{$y} {
        margin: #{$x}px #{$y}px;
    }
}

/** EFFECTS */

@mixin shadow() {
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    transition: all .3s cubic-bezier(.25,.8,.25,1);
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 6px 6px rgba(0,0,0,.22);
    }
}