.banner {
    &-centering {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-full-screen,
    &-large,
    &-medium,
    &-small {
        z-index: 0;
        position: relative;
        margin: 0 auto;
        text-align: center;
        color: #FFF;
        &::after {
            z-index: -1;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.45);
        }
    }
    &-full-screen {
        height: 100vh;
    }
    &-large {
        height: 100vh;
        @include not-mobile {
            height: 60vh;
        }
    }
    &-medium {
        height: 60vh;
        @include not-mobile {
            height: 40vh;
        }
    }
    &-small {
        height: 40vh;
        @include not-mobile {
            height: 25vh;
        }
    }
    &-text-wrapper {
        >.title-extra {
            font-size: $title-xl;
        }
        >.title {
            font-size: $title-lg;
        }
        >.description {
            font-size: $content-xl;
        }
    }
}

.bg-parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}