$header-height: 60px;
$logo-size: 120px;
$nav-button-position: -5px 16px;
#ci-header {
    position: relative;
    height: $header-height;
    line-height: $header-height;
    border-top: 5px solid $brand-color;
    &-menu {
        z-index: 1;
        position: absolute;
        right: 0;
        top: 60px;
        width: 250px;
        background: $background-color;
        @include shadow();
    }
    .header {
        &-logo {
            display: inline-block;
            width: $logo-size;
        }
        &-navigation {
            display: inline-flex;
            flex-direction: row;
            &-item {
                padding: 0 10px;
            }
        }
    }
    .nav-button {
        position: absolute;
        top: nth($nav-button-position, 1);
        right: nth($nav-button-position, 2);
        font-size: 3em;
    }
}