#ci-slideshow {
    .ant-carousel {
        .slick-slide {
            text-align: center;
            overflow: hidden;
        }
        .slick-prev {
            z-index: 1;
            left: 0;
            background: #aaa;
        }
        .slick-next {
            right: 0;
            background: #aaa;
        }
    }
}