#ci-sorting {
    // display: flex;
    // flex-flow: column-reverse wrap;
    // align-items: center;
    // max-width: 600px;
    // height: 384px;
    // margin: 0 auto;
    &-item {
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border: 2px solid black;
        margin: 5px;
        transition: all 0.5s;
    }
    &-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        max-width: 600px;
        margin: 0 auto;
        .ci-sorting-group {
            position: relative;
            display: flex;
            flex-flow: column-reverse wrap;
            flex: 1;
            align-items: center;
            height: 384px;
            width: auto; // margin: 0 32px;
            &-title {
                position: absolute;
                bottom: -20px;
                width: 100%;
                text-align: center;
            }
        }
    }
}